<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h1><i class="fas fa-users nav-icon"> 150</i></h1>
              <p>Students</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer"
              >More info <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h1><i class="fas fa-user nav-icon"> 26</i></h1>
              <p>Teachers</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer"
              >More info <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>

        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-secondary">
            <div class="inner">
              <h1><i class="fas fa-home nav-icon"> 6</i></h1>
              <p>Classes</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer"
              >More info <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h1><i class="fas fa-user-friends nav-icon"> 10</i></h1>
              <p>Staffs</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer"
              >More info <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
    </div>

    <!-- home2 -->
  </section>

  <div class="container-fluid">
    <div class="tabs col-12 shadow">
      <div class="standart">
        <h1>SDN SUKAMAJU</h1>
      </div>
      <div class="headers">
        <div class="row">
          <div class="title col-4">
            <p><strong>Number </strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>6620220101</p></div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong> type of education</strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>Elementary School</p></div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>Status</strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>State</p></div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>districts</strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>South Jakarta</p></div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>Province</strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>DKI Jakarta</p></div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>HeadMaster</strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>Eva siti nurjanah</p></div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>Operator</strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>Bayu diningrat</p></div>
        </div>
        <br />
        <br />

        <div class="row">
          <div class="title col-4">
            <p><strong>Standart Grading</strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>2013</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
