<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-1">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h1><i class="fas fa-users nav-icon"> 150</i></h1>
              <p>Students</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer"
              >More info <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h1><i class="fas fa-user nav-icon"> 26</i></h1>
              <p>Teachers</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer"
              >More info <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <div class="small-box bg-secondary">
            <div class="inner">
              <h1><i class="fas fa-home nav-icon"> 6</i></h1>
              <p>Classes</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer"
              >More info <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-danger">
            <div class="inner">
              <h1><i class="fas fa-user-friends nav-icon"> 10</i></h1>
              <p>Staffs</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer"
              >More info <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <div class="container-fluid">
    <div class="tabs col-12 shadow">
      <div class="standart">
        <h1>Profile Headmaster</h1>
      </div>
      <div class="headers">
        <div class="row">
          <div class="title col-3">
            <p><strong>ID Headmaster</strong></p>
          </div>
          <div class="is col-1"><p>:</p></div>
          <div class="desc col-3"><p>{{profilHeadmaster?.id}}</p></div>
        </div>
        <div class="row">
          <div class="title col-3">
            <p><strong>Email</strong></p>
          </div>
          <div class="is col-1"><p>:</p></div>
          <div class="desc col-3"><p>{{profilHeadmaster?.email}}</p></div>
        </div>
        <div class="row">
          <div class="title col-3">
            <p><strong>Name</strong></p>
          </div>
          <div class="is col-1"><p>:</p></div>
          <div class="desc col-3"><p>{{profilHeadmaster?.fullName}}</p></div>
        </div>
        <div class="row">
          <div class="title col-3">
            <p><strong>Birthday</strong></p>
          </div>
          <div class="is col-1"><p>:</p></div>
          <div class="desc col-3"><p>{{profilHeadmaster?.birthDate}}</p></div>
        </div>
        <div class="row">
          <div class="title col-3">
            <p><strong>Role</strong></p>
          </div>
          <div class="is col-1"><p>:</p></div>
          <div class="desc col-3"><p>{{profilHeadmaster?.role}}</p></div>
        </div>

      </div>
    </div>
  </div>
</div>
