<app-parent-header></app-parent-header>
<app-parent-sidebar></app-parent-sidebar>
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- <section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h1><i class="fas fa-users nav-icon"> Justin</i></h1>
              <h5>HomeroomTeacher</h5>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a routerLink="/students" class="small-box-footer"
              >More info <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <div class="small-box bg-secondary">
            <div class="inner">
              <h1><i class="fas fa-home nav-icon"> IV</i></h1>
              <h5>Classes</h5>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer"
              >More info <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <div class="container-fluid">
    <div class="tabs col-12 shadow">
      <div class="standart">
        <h1>SDN SUKAMAJU</h1>
      </div>
      <div class="headers">
        <div class="row">
          <div class="title col-4">
            <p><strong>ID</strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>0034</p></div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong> Number</strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>000952761358</p></div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>User Name</strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>Wiryatama</p></div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>Name</strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>Andara Wiryatama</p></div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>Email</strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>andarawiryatama014@gmail.com</p></div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>Class</strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>V</p></div>
        </div>

        <br />
        <br />

        <div class="row">
          <div class="title col-4">
            <p><strong>Status</strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>Active</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
