<app-parent-header></app-parent-header>
<app-parent-sidebar></app-parent-sidebar>
<div class="content-wrapper">
  <section id="name">
    <div class="container">
      <div class="card1" style="max-width: 100%">
        <div class="card-body">
          <div class="container" style="margin-bottom: 100px">
            <a href="" class="nav-logo me-3"
              ><img
                src="/assets/img/pngwing.com.png"
                style="width: 100px; height: 100px; position: absolute"
                alt="logo.png"
            /></a>
            <h2 class="school text-center">
              SEKOLAH DASAR NEGERI SUKAMAJU
              <br />
              <h5 class="akredit pt-2 text-center"><b>TERAKREDITAS 'A'</b></h5>
            </h2>
          </div>

          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>Student ID</td>
                <td>: 0092213847</td>
              </tr>
              <tr>
                <td>Name</td>
                <td>: ANDIKA PRADANA</td>
              </tr>
              <tr>
                <td>Class</td>
                <td>: IV</td>
              </tr>
              <tr>
                <td>Semester</td>
                <td>: Ganjil</td>
              </tr>
              <tr>
                <td>School Year</td>
                <td>: 2019/2020</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!-- table raport -->
  <div class="card bg mb-3" style="max-width: 100%">
    <div class="card-body" style="background-color: white">
      <div class="table-responsive-sm">
        <table class="table table-bordered mb-5">
          <thead>
            <tr class="head text-center">
              <th scope="col">No</th>
              <th scope="col">Subjects</th>
              <th scope="col">KKM</th>
              <th scope="col">Number</th>
              <th scope="col">Value Letter</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Matematika</td>
              <td>67</td>
              <td>76</td>
              <td>Tujuh puluh enam</td>
              <td>tuntas</td>
            </tr>

            <tr>
              <th scope="row">2</th>
              <td>Pendidikan Agama Islam</td>
              <td>67</td>
              <td>81</td>
              <td>delapan puluh satu</td>
              <td>tuntas</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Bahasa Indonesia</td>
              <td>67</td>
              <td>77</td>
              <td>tujuh puluh tujuh</td>
              <td>tuntas</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Seni Kebudayaan</td>
              <td>67</td>
              <td>67</td>
              <td>enam puluh tujuh</td>
              <td>tuntas</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Komputer</td>
              <td>67</td>
              <td>73</td>
              <td>tujuh puluh tiga</td>
              <td>tuntas</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Pendidikan Kewarganegaraan</td>
              <td>67</td>
              <td>61</td>
              <td>enam puluh satu</td>
              <td>belum tuntas</td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>Ilmu Pengetahuan Alam</td>
              <td>67</td>
              <td>81</td>
              <td>delapan puluh satu</td>
              <td>tuntas</td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>Ilmu Pengetahuan Sosial</td>
              <td>67</td>
              <td>63</td>
              <td>enam puluh tiga</td>
              <td>belum tuntas</td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td>Aqidah Akhlak</td>
              <td>67</td>
              <td>74</td>
              <td>tujuh puluh empat</td>
              <td>tuntas</td>
            </tr>
            <tr>
              <th scope="row">10</th>
              <td>Sejarah Indonesia</td>
              <td>67</td>
              <td>87</td>
              <td>delapan puluh tujuh</td>
              <td>tuntas</td>
            </tr>
            <tr class="total">
              <td colspan="3">Total Value</td>
              <td>740</td>
              <td>Predikat</td>
              <td>KURANG</td>
              <!-- <td rowspan="2"></td> -->
            </tr>
            <tr class="rank">
              <td colspan="3">Rank</td>
              <td>15</td>
              <td>dari sebanyak</td>
              <td>25 siswa</td>
            </tr>
          </tbody>
        </table>
      </div>
      <a class="btn btn-primary" href="#" role="button">Back</a>
    </div>
  </div>
</div>
<!--  -->
