<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="tabs col-12 shadow">
      <div class="data">
        <h3>Teacher Data</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">NIP</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Address</th>
            <th scope="col">Schedule</th>
            <th scope="col" style>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="teacher-data">
            <th scope="row" class="id">111</th>
            <td class="name">Mark</td>
            <td class="gender">Otto</td>
            <td class="teach">@mdo</td>
            <td class="see">
              <button class="btn btn-primary">
                <a href="" class="saw"
                  ><fa-icon [icon]="faSearch"></fa-icon> Check</a
                >
              </button>
            </td>
            <td class="desc">
              <button class="btn btn-warning" style="color: #ffff">
                <a routerLink="/headmaster/teacher/edit" routerLinkActive="active">
                  <fa-icon [icon]="faEdit"></fa-icon>Edit
                </a>
              </button>

              <button class="btn btn-danger">
                <fa-icon [icon]="faEraser"></fa-icon>delete
              </button>
            </td>
          </tr>
          <tr class="teacher-data">
            <th scope="row" class="id">111</th>
            <td class="name">Mark</td>
            <td class="gender">Otto</td>
            <td class="teach">@mdo</td>
            <td class="see">
              <button class="btn btn-primary">
                <a href="" class="saw"
                  ><fa-icon [icon]="faSearch"></fa-icon> Check</a
                >
              </button>
            </td>
            <td class="desc">
              <button class="btn btn-warning" style="color: #ffff">
                <a routerLink="/headmaster/teacher/edit" routerLinkActive="active">
                  <fa-icon [icon]="faEdit"></fa-icon>Edit
                </a>
              </button>

              <button class="btn btn-danger">
                <fa-icon [icon]="faEraser"></fa-icon>delete
              </button>
            </td>
          </tr>
          <tr class="teacher-data">
            <th scope="row" class="id">111</th>
            <td class="name">Mark</td>
            <td class="gender">Otto</td>
            <td class="teach">@mdo</td>
            <td class="see">
              <button class="btn btn-primary">
                <a href="" class="saw"
                  ><fa-icon [icon]="faSearch"></fa-icon> Check</a
                >
              </button>
            </td>
            <td class="desc">
              <button class="btn btn-warning" style="color: #ffff">
                <a routerLink="/headmaster/teacher/edit" routerLinkActive="active">
                  <fa-icon [icon]="faEdit"></fa-icon>Edit
                </a>
              </button>

              <button class="btn btn-danger">
                <fa-icon [icon]="faEraser"></fa-icon>delete
              </button>
            </td>
          </tr>
          <tr class="teacher-data">
            <th scope="row" class="id">111</th>
            <td class="name">Mark</td>
            <td class="gender">Otto</td>
            <td class="teach">@mdo</td>
            <td class="see">
              <button class="btn btn-primary">
                <a href="" class="saw"
                  ><fa-icon [icon]="faSearch"></fa-icon> Check</a
                >
              </button>
            </td>
            <td class="desc">
              <button class="btn btn-warning" style="color: #ffff">
                <a routerLink="/headmaster/teacher/edit" routerLinkActive="active">
                  <fa-icon [icon]="faEdit"></fa-icon>Edit
                </a>
              </button>

              <button class="btn btn-danger">
                <fa-icon [icon]="faEraser"></fa-icon>delete
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <a
                routerLink="/headmaster/teacher/create"
                routerLinkActive="active"
                class="btn btn-primary"
              >
                add data</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
