<div class="content-wrapper">
  <div class="container-fluid">
    <div class="tabs col-12">
      <div class="data">
        <h3>Managing Score Your Class</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name Student</th>
            <th scope="col" style>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr class="teacher-data" *ngFor="let item of classStudent.student;let i=index">
            <td>{{ i+1 }}</td>
            <td>{{ item.fullName }}</td>
            <td class="see">
              <button class="btn btn-warning" (click)="onDetail(item)">
                <fa-icon [icon]="faSearch"></fa-icon> Check Score
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
