
  <div class="content-wrapper">
    <section id="profilsiswa">
      <div class="container mt-5">
        <div class="card m-auto" style="max-width: 90%">
            <h3 class="text-center">III</h3>
            <div class="card-body pt-3">
            <table class="table table-responsive table-bordered ">
                <thead>
                  <tr class="table-range">
                    <th class="text-center" scope="col" style="background-color: green;">Class</th>
                    <th class="text-center" scope="col" style="background-color: green;">Homeroom Teacher</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center" scope="row">III</td>
                    <td colspan="3">Nobertus Asto,S.Pd</td>
                    <td><a routerLink="/classdetail"><button type="button" class="btn" style="width: 40px">
                      <i class="far fa-eye"></i>
                    </button></a></td>
                  </tr>
                  <tr>
                    <td class="text-center" scope="row">IV</td>
                    <td colspan="3">Andika Pradana,S.Pd</td>
                    <td><a routerLink="/classdetail"><button type="button" class="btn" style="width: 40px">
                      <i class="far fa-eye"></i>
                    </button></a></td>
                  </tr>
                  <tr>
                    <td class="text-center" scope="row">V</td>
                    <td colspan="3">Muhammad Hamzah,S.Pd</td>
                    <td><a routerLink="/classdetail"><button type="button" class="btn" style="width: 40px">
                      <i class="far fa-eye"></i>
                    </button></a></td>
                  </tr>
                  <tr>
                    <td class="text-center" scope="row">VI</td>
                    <td colspan="3">Muhammad Diar,S.Pd</td>
                    <td><a routerLink="/classdetail"><button type="button" class="btn" style="width: 40px">
                      <i class="far fa-eye"></i>
                    </button></a></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr class="table-range">
                    <th scope="col" style="background-color: green;"></th>
                    <th scope="col" style="background-color: green;"></th>
                    
                  </tr>
                </tfoot>
              </table>
          </div>
        </div>
      </div>
    </section>
  </div>
  

