<div class="container-sm">
  <div class="row mb-3">
    <div class="col-md-10">
      <div>
        <h4 class="header">FILTER LAPORAN DATA SISWA</h4>
      </div>
      <div class="table" style="width: 300px">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01"
            >Tahun Ajaran</label
          >
          <select class="form-select" id="inputGroupSelect01">
            <option selected>...</option>
            <option value="1">2019/2020</option>
            <option value="2">2020/2021</option>
            <option value="3">2021/2022</option>
          </select>
        </div>
      </div>
      <div class="table" style="width: 300px">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">Kelas</label>
          <select class="form-select" id="inputGroupSelect01">
            <option selected>...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
            <option value="3">5</option>
            <option value="3">6</option>
          </select>
        </div>
        <div>
          <button type="button" class="btn btn-success me-2 mt-3">Tampilkan</button>
          <button type="button" class="btn btn-warning mt-3">Batal</button>
        </div>
      </div>
    </div>
   <div class="col-md-10">
    <div class="row mb-3">
      <h4 class="header">LAPORAN DATA SISWA</h4>
    </div>
    <div class="table">
      <th>No.</th>
      <th>NIS</th>
      <th>Nama Siswa</th>
      <th>TTL</th>
      <th>L/P</th>
      <th>Agama</th>
      <th>Alamat</th>
      <th>Nama Ayah</th>
      <th>Nama Ibu</th>
      <th>Kelas</th>
      <tr>
        <td>1.</td>
        <td>202001</td>
        <td>Sukijan</td>
        <td>Jakarta, 03 Oktober 2013</td>
        <td>L</td>
        <td>Islam</td>
        <td>Kp. Melinjo</td>
        <td>Samijan</td>
        <td>Tukiem</td>
        <td>4</td>
      </tr>
      
    </div>
   </div>
    </div>
</div>
