<app-parent-header></app-parent-header>
<app-parent-sidebar></app-parent-sidebar>
<div class="content-wrapper">
  <section id="profilsiswa">
    <div class="container-fluid">
      <div class="card m-auto" style="max-width: 100%">
        <div class="text-center">
          <h1 class="display-4 pb-4 pt-5">Profile</h1>
          <img
            src="/assets/img/unnamed.jpg"
            alt="image1"
            width="170px"
            height="170px"
            class="rounded-circle"
          />
        </div>
        <div class="card-body pt-5">
          <table
            class="table table-responsive-lg table-bordered"
            style="width: 100%"
          >
            <thead>
              <tr class="table-range">
                <th scope="col" style="background-color: #cd1818">Date</th>
                <th scope="col" style="background-color: #cd1818">
                  Description
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">ID</th>
                <td colspan="3">0034</td>
              </tr>
              <tr>
                <th scope="row">NIS</th>
                <td colspan="3">000952761358</td>
              </tr>
              <tr>
                <th scope="row">User Name</th>
                <td colspan="2">Wiryatama</td>
              </tr>
              <tr>
                <th scope="row">Name</th>
                <td colspan="2">Andara Wiryatama</td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td colspan="2">andarawiryatama014@gmail.com</td>
              </tr>
            </tbody>
          </table>
          <div class="edit">
            <!-- <a class="btn btn-warning btn-lg rounded-circle" href="#" role="button"><i class="bi bi-pen-fill"></i></a> -->
            <button type="button" class="btn">
              <a
                class="btn btn-warning btn-lg rounded-circle"
                href="/profil/edit-profil/edit-profil.html"
                role="button"
                ><i class="fas fa-pen"></i>
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
