<div class="content-wrapper">
  <div class="container-fluid">
    <div class="tabs col-12 shadow">
      <div class="data">
        <h3>HomeRoom Teacher</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">NIP</th>
            <th scope="col">Name Homeroom</th>
            <th scope="col">Class</th>
            <th scope="col" style>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="teacher-data" *ngFor="let item of homeroom; let i = index">
            <td scope="row">{{ i + 1 }}</td>
            <td class="name">{{ item._id }}</td>
            <td class="gender">{{ item.homeroomName.fullName }}</td>
            <td class="teach">{{ item.className.className }}</td>
            <td class="see">
              <button class="btn btn-primary" (click)="onDetail(item)">
                <fa-icon [icon]="faSearch"></fa-icon>
              </button>
              <button
                class="btn btn-warning"
                style="color: #ffff"
                (click)="onEdit(item)"
              >
                <fa-icon [icon]="faEdit"></fa-icon>Edit
              </button>
            </td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2">
              <button class="btn btn-warning" (click)="onSet()">
                Set Homeroom From Teacher
              </button>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
