
.set {
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
  margin-right: 20px;

  position: relative;
  margin-top: 10px;
}
.set .title-form {
  border-radius: 10px 10px 0px 0px;
  background-color: red;
  margin: 0;
  text-align: center;
}
.set .title-form h2 {
  font-size: 25px;
  padding: 10px;
}
mat-spinner {
  margin: auto;
}
.set .body-form {
  margin-top: 20px;
}
.set .action {
  margin: 40px 0px 10px 0px;
  padding: 10px;
}
.set .action .action-1 {
  margin-left: 20px;
  transition: 0.4s;
}

.erl {
  background-color: red;
  color: #fff;
  width: 100px;
  height: 100px;
}