.img {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/assets/img/avXg0ewYQV.jpeg);
  filter: blur(5px);
  width: 100%;
  height: 100%;
  z-index: -2;
}
body {
  background-image: url(/assets/img/avXg0ewYQV.jpeg);
}
#login {
  background-image: url(/assets/img/avXg0ewYQV.jpeg);
}
.card-body {
  background-color: gray;
}
.header {
  color: white;
  padding: 20px 0px;
  background-image: radial-gradient(
    at center center,
    rgb(255, 0, 0) 0%,
    rgb(168, 0, 0) 100%
  );
  background-color: initial;
}
.card1 {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 100;
}
mat-spinner {
  margin: auto;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
#inputError {
  font-size: 11px;
  color: red;
  margin-left: 5px;
}
#inputErrorSelect {
  font-size: 10px;
  color: red;
  margin-left: 5px;
}
.card .card-body .footer {
  padding: 10px 20px;
}
.footer a {
  text-decoration: none;
}
.form-select {
  max-width: 150px;
  margin-bottom: 10px;
}
