.img {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/assets/img/avXg0ewYQV.jpeg);
  filter: blur(5px);
  width: 100%;
  height: 100%;
  z-index: -2;
}
.container {
  min-width: 100%;
}
.header {
  padding: 15px;
  justify-content: center;
  text-transform: uppercase;
  display: flex;
  background-color: rgb(214, 4, 4);
}
.judul {
  border-left: 2px solid gray;
  padding-left: 10px;
}
.footer {
  background-color: rgb(214, 4, 4);
  border-bottom: 2px solid black;
}
.row {
  padding-bottom: 30px;
}
.header img {
  padding-right: 10px;
}
.card {
  background-color: rgb(252, 252, 252);
}
.card1 .card2 {
  padding-left: 0px;
}
.roles {
  padding-left: 0px;
}
