<div class="img"></div>
<div class="container">
  <div class="card m-auto" style="max-width: 85%">
    <div class="footer shadow text-center pb-5">
      <h3 class="forgot">Reset Password</h3>
    </div>
    <form [formGroup]="changePasswordForm">
      <div class="card-body">
        <div class="row justify-content-center pt-1">
          <div class="col-md-6">
            <label class="form-label">Confirm as a</label>
            <select class="form-select" formControlName="role">
              <option selected disabled value="">Choose...</option>
              <option value="Headmaster">Headmaster</option>
              <option value="Teacher">Teacher</option>
              <option value="Student">Student</option>
              <option value="Parent">Parent</option>
            </select>
          </div>
        </div>
        <div class="row justify-content-center pt-1">
          <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <div class="input-group has-validation pb-3">
              <input
                type="text"
                class="form-control"
                id="email"
                formControlName="email"
              />
            </div>
          </div>
        </div>
        <div class="row justify-content-center pt-1">
          <div class="col-md-6">
            <label for="code" class="form-label">Code Otp</label>
            <div class="input-group has-validation pb-3">
              <input
                type="text"
                class="form-control"
                id="code"
                formControlName="code"
              />
            </div>
          </div>
        </div>
        <div class="row justify-content-center pt-1">
          <div class="col-md-6">
            <label for="password" class="form-label">New Password</label>
            <div class="input-group has-validation pb-3">
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
              />
            </div>
          </div>
        </div>
        <div class="row row text-center justify-content-between">
          <div class="col-4">
            <button
              type="button"
              class="btn btn-danger btn-sm"
              routerLink="/finalAssigmn/login.html"
              routerLinkActive="active"
            >
              Back
            </button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-primary btn-sm" (click)="onConfirm()">
              Confirm
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
