<div class="img"></div>
<div class="container">
  <div class="card m-auto" style="max-width: 85%">
    <div class="header text-center">
      <img
        src="/assets/img/pngwing.com.png"
        alt="logo1.png"
        width="112px"
        height="100px"
      />
      <div class="judul" style="align-items: center">
        <h1>SDN SUKAMAJU</h1>
      </div>
    </div>
    <div class="footer shadow text-center pb-5">
      <h3 class="forgot">Reset Password</h3>
    </div>
    <div class="card-body">
      <h6 class="page text-center pt-5 pb-4">
        Enter your registered e-mail. We will send you a verification code to
        reset your password.
      </h6>
      <!-- ROLE -->
      <div class="row justify-content-center pt-1">
        <div class="col-md-6">
          <div class="roles col-md-3">
            <label for="validationServer04" class="form-label"
              >Confirm as a</label
            >
            <select
              class="form-select"
              id="validationServer04"
              aria-describedby="validationServer04Feedback"
              required
            >
              <option selected disabled value="">Choose...</option>
              <option value="HeadMaster">Headmaster</option>
              <option value="Teacher">Teacher</option>
              <option value="Student">Student</option>
              <option value="Parent">Parent</option>
            </select>
            <div id="validationServer04Feedback" class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>
        </div>
      </div>
      <!-- ROLE -->
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="col-md-6"></div>
          <label for="validationTooltipEmail" class="form-label">Email</label>
          <div class="input-group has-validation pb-3">
            <input
              type="text"
              class="form-control"
              id="validationTooltipEmail"
              aria-describedby="validationTooltipEmailPrepend"
              required
            />
            <span class="input-group-text" id="validationTooltipEmailPrepend"
              >@</span
            >
            <div class="invalid-tooltip"></div>
          </div>
          <!-- FORM CHANGE PW -->
          <div class="card1" style="max-width: 85%">
            <div class="row">
              <form>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label"
                    >Enter OTP Number</label
                  >
                  <input
                    type="text"
                    class="form-control mt-2"
                    required
                    name="otp"
                    id="exampleInputUsername"
                    placeholder="OTP Code"
                  />
                </div>
              </form>
            </div>
          </div>
          <div class="card2" style="max-width: 85%">
            <div class="row">
              <form>
                <div class="mb-3">
                  <label for="exampleInputNewPassword" class="form-label"
                    >Enter New Password</label
                  >
                  <input
                    type="Newpassword"
                    class="form-control mt-2"
                    required
                    name="Newpassword"
                    id="exampleInputNewPassword"
                    placeholder="New Password"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputNewPassword" class="form-label"
                    >Confirm New Password</label
                  >
                  <input
                    type="Newpassword"
                    class="form-control mt-2"
                    required
                    name="Newpassword"
                    id="exampleInputNewPassword"
                    placeholder="Confirm New Password"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row row text-center justify-content-between">
        <div class="col-4">
          <button type="button" class="btn btn-danger btn-sm">
            <a href="/finalAssigmn/login.html"></a>< Previous
          </button>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-primary btn-sm">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>
