<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="container set">
  <div class="container title-form">
    <h2>Update Data Course</h2>
  </div>

  <div class="container body-form">
    <mat-spinner *ngIf="!spinner" class="spinner"></mat-spinner>
    <form class="row g-3" *ngIf="spinner">
      <div class="col-2">
        <label for="fullname" class="visually-hidden">Course</label>
        <input
          type="text"
          readonly
          class="form-control-plaintext"
          id="fullname"
          value="Course"
        />
      </div>
      <div class="col-9">
        <label for="fullname-1" class="visually-hidden">course-1</label>
        <input
          type="text"
          readonly
          class="form-control-plaintext"
          id="fullname-1"
          value="Science"
        />
      </div>
      <div class="col-auto">
        <button
          type="button"
          class="btn btn-primary mb-2"
          (click)="onUpdateFullname()"
          *ngIf="!updateFullname"
        >
          Update
        </button>
        <button
          type="button"
          class="btn btn-danger mb-2"
          (click)="onUpdateFullname()"
          *ngIf="updateFullname && updateAll"
        >
          Cancel
        </button>
      </div>
      <div class="col-2" *ngIf="updateFullname">
        <label for="fullname-2" class="visually-hidden">course-2</label>
        <input
          type="text"
          readonly
          class="form-control-plaintext"
          id="fullname-2"
        />
      </div>
      <div class="col-9" *ngIf="updateFullname">
        <label for="fullname-3" class="visually-hidden">course-3</label>
        <input
          type="text"
          class="form-control"
          id="fullname-3"
          placeholder="Fullname"
        />
      </div>
      <div class="col-auto" *ngIf="updateFullname">
        <button
          type="button"
          class="btn btn-success ms-2 mb-2"
          *ngIf="updateAll"
        >
          Save
        </button>
      </div>

      <div class="col-2">
        <label for="email" class="visually-hidden">Code</label>
        <input
          type="text"
          readonly
          class="form-control-plaintext"
          id="code"
          value="code"
        />
      </div>
      <div class="col-9">
        <label for="email-1" class="visually-hidden">code-1</label>
        <input
          type="email"
          readonly
          class="form-control-plaintext"
          id="email-1"
          value="SC"
        />
      </div>
      <div class="col-auto">
        <button
          type="button"
          class="btn btn-primary mb-2"
          (click)="onUpdateEmail()"
          *ngIf="!updateEmail"
        >
          Update
        </button>
        <button
          type="button"
          class="btn btn-danger mb-2"
          (click)="onUpdateEmail()"
          *ngIf="updateEmail && updateAll"
        >
          Cancel
        </button>
      </div>
      <div class="col-2" *ngIf="updateEmail">
        <label for="email-2" class="visually-hidden">code-2</label>
        <input
          type="text"
          readonly
          class="form-control-plaintext"
          id="email-2"
        />
      </div>
      <div class="col-9" *ngIf="updateEmail">
        <label for="email-3" class="visually-hidden">code-3</label>
        <input
          type="email"
          class="form-control"
          id="email-3"
          placeholder="Email"
        />
      </div>
      <div class="col-auto" *ngIf="updateEmail">
        <button
          type="button"
          class="btn btn-success ms-2 mb-2"
          *ngIf="updateAll"
        >
          Save
        </button>
      </div>

      <div class="col-2">
        <label for="password" class="visually-hidden">Teacher</label>
        <input
          type="text"
          readonly
          class="form-control-plaintext"
          id="password"
          value="teacher"
        />
      </div>
      <div class="col-9">
        <label for="password-1" class="visually-hidden">teacher-1</label>
        <input
          type="teacher"
          readonly
          class="form-control-plaintext"
          id="teacher-1"
          value="teacher"
        />
      </div>
      <div class="col-auto">
        <button
          type="button"
          class="btn btn-primary mb-2"
          (click)="onupdatePassword()"
          *ngIf="!updatePassword"
        >
          Update
        </button>
        <button
          type="button"
          class="btn btn-danger mb-2"
          (click)="onupdatePassword()"
          *ngIf="updatePassword && updateAll"
        >
          Cancel
        </button>
      </div>
      <div class="col-2" *ngIf="updatePassword">
        <label for="password-2" class="visually-hidden">password-2</label>
        <input
          type="password"
          readonly
          class="form-control-plaintext"
          id="password-2"
        />
      </div>
      <div class="col-9" *ngIf="updatePassword">
        <label for="password-3" class="visually-hidden">password-3</label>
        <input
          type="password"
          class="form-control"
          id="password-3"
          placeholder="Password"
        />
      </div>
      <div class="col-auto" *ngIf="updatePassword">
        <button
          type="button"
          class="btn btn-success ms-2 mb-2"
          *ngIf="updateAll"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
