<div class="content-wrapper">
  <div class="container-fluid">
    <div class="tabs col-12 shadow">
      <div class="standart">
        <h1>SDN SUKAMAJU</h1>
      </div>
      <mat-spinner *ngIf="!spinner" class="spinner"></mat-spinner>
      <div class="headers">
        <div class="row">
          <div class="title col-4">
            <p><strong>Class Name </strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>Class I</p></div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong> Year Academic</strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>2020/2021</p></div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong> Semester</strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>Odd</p></div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong> Student</strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>(isi....)</p></div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>Schedule</strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4">
            <p>(isi...))</p>
          </div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>Homeroom Teacher</strong></p>
          </div>
          <div class="is col-2"><p>:</p></div>
          <div class="desc col-4"><p>hamzah</p></div>
        </div>

        <br />
        <br />
      </div>
    </div>
  </div>
</div>
