<div class="content-wrapper">
  <div class="container-fluid">
    <div class="tabs col-12 shadow">
      <div class="standart">
        <h1>Schedule Detail</h1>
      </div>
      <mat-spinner *ngIf="!spinner" class="spinner"></mat-spinner>
      <div class="headers" *ngIf="spinner">
        <div class="row">
          <div class="title col-2">
            <p><strong>ID Schedule</strong></p>
          </div>
          <div class="desc col-5">
            <p>: {{ schedules._id }}</p>
          </div>
        </div>
        <div class="row">
          <div class="title col-2">
            <p><strong>Title Activity</strong></p>
          </div>
          <div class="desc col-5">
            <p>: {{ schedules.title }}</p>
          </div>
        </div>
        <div class="row">
          <div class="title col-2">
            <p><strong>Start Time</strong></p>
          </div>
          <div class="desc col-5">
            <p>: {{ schedules.start | date: "full" }}</p>
          </div>
        </div>
        <div class="row">
          <div class="title col-2">
            <p><strong>End Time</strong></p>
          </div>
          <div class="desc col-5">
            <p>: {{ schedules.end | date: "full" }}</p>
          </div>
        </div>
        <div class="row">
          <div class="title col-2">
            <p><strong>All Day Activity</strong></p>
          </div>
          <div class="desc col-5">
            <p>: {{ schedules.allDay }}</p>
          </div>
        </div>
        <div class="row">
          <div class="title col-2">
            <p><strong>Activity On Week</strong></p>
          </div>
          <div class="desc col-5">
            <p>: {{ schedules.daysOfWeek }}</p>
          </div>
        </div>
        <div class="container action mt-2 mb-2">
          <button
            type="button"
            class="btn btn-primary action-1 mt-2 mb-2"
            (click)="onBack()"
          >
            Back
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
