<div class="content-wrapper">
  <div class="container-fluid">
    <div class="tabs col-12 shadow">
      <div class="standart">
        <h1>Detail Homeroom</h1>
      </div>
      <mat-spinner *ngIf="!spinner" class="spinner"></mat-spinner>
      <div class="headers" *ngIf="spinner">
        <div class="row">
          <div class="title col-4">
            <p><strong>NIS</strong></p>
          </div>
          <div class="is col-1"><p>:</p></div>
          <div class="desc col-4">
            <p>{{ homerooms._id }}</p>
          </div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>Name Homeroom</strong></p>
          </div>
          <div class="is col-1"><p>:</p></div>
          <div class="desc col-4">
            <p>{{ homerooms.homeroomName.fullName }}</p>
          </div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>Email</strong></p>
          </div>
          <div class="is col-1"><p>:</p></div>
          <div class="desc col-4">
            <p>{{ homerooms.homeroomName.email }}</p>
          </div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>Role</strong></p>
          </div>
          <div class="is col-1"><p>:</p></div>
          <div class="desc col-4">
            <p>{{ homerooms.role }}</p>
          </div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>Class</strong></p>
          </div>
          <div class="is col-1"><p>:</p></div>
          <div class="desc col-4">
            <p>{{ homerooms.className.className }}</p>
          </div>
        </div>
        <table class="table" style="margin: 10px auto">
          <thead>
            <tr>
              <th>No</th>
              <th>Name Student</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of homerooms.className.student; let i = index"
            >
              <td>{{ i + 1 }}</td>
              <td>{{ item.fullName }}</td>
              <td>
                <button class="btn btn-warning" (click)="onStudent(item)">
                  <fa-icon [icon]="faSearch"></fa-icon> Check Score
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="container action">
          <button
            type="button"
            class="btn btn-primary action-1"
            (click)="onBack()"
          >
            Back
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
