<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="container col-sm-9 set">
  <div class="container title-form">
    <h2>Create New Class</h2>
  </div>

  <div class="container body-form">
    <mat-spinner *ngIf="!spinner" class="spinner"></mat-spinner>
    <form [formGroup]="createFormClass" *ngIf="spinner">
      <div class="mb-3 row">
        <label for="yearacademic" class="col-sm-2 col-form-label"
          >Year Academic</label
        >
        <div class="col-sm-2">
          <select class="form-select" id="yearacademic" formControlName="yearAcademic">
            <option selected disabled value="">Year</option>
            <option value="'2018/2019'">2018/2019</option>
            <option value="'2019/2020'">2019/2020</option>
            <option value="'2020/2021'">2020/2021</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="nameclass" class="col-sm-2 col-form-label"
          >Name Class</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="nameclass"
            placeholder="Example: Class I"
            formControlName="className"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="semester" class="col-sm-2 col-form-label"
          >Semester</label
        >
        <div class="col-sm-2">
          <select class="form-select" id="yearacademic" formControlName="semester">
            <option selected disabled value="">Semester</option>
            <option value="Odd">Odd</option>
            <option value="Even">Even</option>
          </select>
        </div>
      </div>
      <!-- <div class="mb-3 row">
        <label for="homeroomteacher" class="col-sm-2 col-form-label"
          >Homeroom Teacher</label
        >
        <div class="col-sm-3">
          <select class="form-select" id="homeroomteacher">
            <option selected disabled value="">Select Homeroom Teacher</option>
            <option value="1">Nobertus</option>
            <option value="2">Asto</option>
            <option value="3">Kinanta</option>
          </select>
        </div>
      </div> -->
      <div class="container action">
        <button class="btn btn-primary action-1" (click)="onSubmit()">
          Save
        </button>
        <button class="btn action-2" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
