
  <div class="content-wrapper">
    <section id="profilsiswa">
      <div class="container mt-5">
        <div class="card m-auto" style="max-width: 90%">
          <div class="text-center">
            <h1>PROFILE</h1>
            <img src="/assets/dist/img/profil.jpg" alt="image1" width="170px" height="170px" class="rounded-circle"/>
          </div> 
            <div class="card-body pt-5">
            <table class="table table-responsive table-bordered ">
                <thead>
                  <tr class="table-range">
                    <th scope="col" style="background-color: green;"></th>
                    <th scope="col" style="background-color: green;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">NIP</th>
                    <td colspan="3">901000031097</td>
                  </tr>
                  <tr>
                    <th scope="row">Name</th>
                    <td colspan="3">Eva Siti Nurjanah</td>
                  </tr>
                  <tr>
                    <th scope="row">Gender</th>
                    <td colspan="2">Female</td>
                  </tr>
                  <tr>
                    <th scope="row">Address</th>
                    <td colspan="2">Cianjur</td>
                  </tr>
                  <tr>
                    <th scope="row">Email</th>
                    <td colspan="2">evasitinurjanah@gmail.com</td>
                  </tr>
                  <tr>
                    <th scope="row">Course</th>
                    <td colspan="2">Science</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr class="table-range">
                    <th scope="col" style="background-color: green;"></th>
                    <th scope="col" style="background-color: green;"></th>
                  </tr>
                </tfoot>
              </table>
          <div class="edit">
           <!-- <a class="btn btn-warning btn-lg rounded-circle" href="#" role="button"><i class="bi bi-pen-fill"></i></a> -->
            <button type="button" class="btn">
             <a class="btn btn-warning btn-lg rounded-circle" href="/profil/edit-profil/edit-profil.html" role="button"><i class="far fa-edit"></i></a>
            </button>
           </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  