<div class="content-wrapper">
  <div class="container set">
    <div class="container title-form">
      <h2>Create New Course</h2>
    </div>

    <div class="container body-form">
      <mat-spinner *ngIf="!spinner" class="spinner"></mat-spinner>
      <form [formGroup]="createFormCourse" *ngIf="spinner">
        <div class="mb-3 row">
          <label for="course" class="col-sm-2 col-form-label"
            >Course name</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="course"
              placeholder="Example: IPA"
              formControlName="course"
            />
          </div>
        </div>
        <div class="container action">
          <button class="btn btn-primary action-1" (click)="onSubmit()">
            Save
          </button>
          <button class="btn action-2" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
