<div class="content-wrapper">
  <div class="container-fluid">
    <div class="tabs col-12 shadow">
      <div class="standart">
        <h1>Detail Parent</h1>
      </div>
      <mat-spinner *ngIf="!spinner" class="spinner"></mat-spinner>
      <div class="headers" *ngIf="spinner">
        <div class="row">
          <div class="title col-4">
            <p><strong>ID</strong></p>
          </div>
          <div class="is col-1"><p>:</p></div>
          <div class="desc col-4">
            <p>{{ parents?._id }}</p>
          </div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>Email</strong></p>
          </div>
          <div class="is col-1"><p>:</p></div>
          <div class="desc col-4">
            <p>{{ parents?.email }}</p>
          </div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>Father</strong></p>
          </div>
          <div class="is col-1"><p>:</p></div>
          <div class="desc col-4">
            <p>{{ parents?.father }}</p>
          </div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>Mother</strong></p>
          </div>
          <div class="is col-1"><p>:</p></div>
          <div class="desc col-4">
            <p>{{ parents?.mother }}</p>
          </div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>Status</strong></p>
          </div>
          <div class="is col-1"><p>:</p></div>
          <div class="desc col-4">
            <p>{{ parents?.status }}</p>
          </div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>Birthday</strong></p>
          </div>
          <div class="is col-1"><p>:</p></div>
          <div class="desc col-4">
            <p>{{ parents?.birthDate }}</p>
          </div>
        </div>
        <div class="row">
          <div class="title col-4">
            <p><strong>Student</strong></p>
          </div>
          <div class="is col-1"><p>:</p></div>
          <div class="desc col-4" *ngFor="let a of parents?.student">
            <p>{{ a.fullName }}</p>
          </div>
        </div>
        <div class="container action">
          <button
            type="button"
            class="btn btn-primary action-1"
            (click)="onBack()"
          >
            Back
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
