<div class="content-wrapper">
  <div class="container pt-5 mb-5">
    <div class="card mt-4 m-auto" style="max-width: 75%">
      <div class="card-header text-center bg-white">
        <div class="header pt-4 pb-3.5">
          <img
            src="/assets/img/pngwing.com.png"
            alt="logo1.png"
            width="115px"
            height="100px"
          />
          <div class="judul" style="align-items: center">
            <h1>SDN SUKAMAJU</h1>
          </div>
        </div>
        <div class="footer">
          <h3 class="forgot">Forgot Password</h3>
        </div>
      </div>
      <div class="card-body pt-5">
        <h6 class="page text-center pt-4">
          Enter your registered email. We will send a email to reset the
          password.
        </h6>
        <div class="row justify-content-center pt-5">
          <span style="text-align: center;">Choose Your Role :</span>
          <div class="col-md-3">
            <select
              class="form-select"
              id="role"
              aria-describedby="role"
              required
              formControlName="role"
            >
              <option selected disabled value="">Choose...</option>
              <option value="Headmaster">Headmaster</option>
              <option value="Teacher">Teacher</option>
              <option value="Student">Student</option>
              <option value="Parent">Parent</option>
            </select>
          </div>
        </div>

        <div class="row justify-content-center pt-1 pb-5">
          <div class="col-md-6">
            <label for="validationTooltipEmail" class="form-label">Email</label>
            <div class="input-group has-validation">
              <input
                type="text"
                class="form-control"
                id="validationTooltipEmail"
                aria-describedby="validationTooltipEmailPrepend"
                required
              />
              <span class="input-group-text" id="validationTooltipEmailPrepend"
                >@</span
              >
              <div class="invalid-tooltip">
                Please choose a unique and valid username.
              </div>
            </div>
          </div>
        </div>
        <div class="row pb-5 text-center justify-content-between">
          <div class="col-4">
            <button type="button" class="btn btn-danger btn-sm" routerLink="/login" routerLinkActive="active">
              Previous
            </button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-primary btn-sm" (click)="onSend()">
              Send OTP
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
