
  <div class="content-wrapper">
    <section id="profilsiswa">
      <div class="container mt-5">
        <div class="card m-auto" style="max-width: 90%">
            <h5 class="text-center">( I )</h5>
            <h5 class="text-center">2021/2022</h5>
            <h5 class="text-center">Even Semester</h5>
            <div class="card-body pt-3">
            <table class="table table-responsive table-bordered ">
                <thead>
                  <tr class="table-range">
                    <th class="text-center">No.</th>
                    <th class="text-center">NIS</th>
                    <th class="text-center">Name</th>
                    <th class="text-center course">Science</th>
                    <th class="text-center course">Math</th>
                    <th class="text-center course">English</th>
                    <th class="text-center course">Culture</th>
                    <th class="text-center course">Average</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center numb">1</td>
                    <td class="text-center">2022001</td>
                    <td>Anto Mulyono</td>
                    <td class="text-center">70</td>
                    <td class="text-center">90</td>
                    <td class="text-center">80</td>
                    <td class="text-center">80</td>
                    <td class="text-center">..</td>
                  </tr>
                  <tr>
                    <td class="text-center">2</td>
                    <td class="text-center">2022002</td>
                    <td>Balqis Al-Khansa</td>
                    <td class="text-center">85</td>
                    <td class="text-center">90</td>
                    <td class="text-center">85</td>
                    <td class="text-center">75</td>
                    <td class="text-center">..</td>
                  </tr>
                  <tr>
                    <td class="text-center">3</td>
                    <td class="text-center">2022003</td>
                    <td>Cici Anjurni</td>
                    <td class="text-center">85</td>
                    <td class="text-center">90</td>
                    <td class="text-center">85</td>
                    <td class="text-center">89</td>
                    <td class="text-center">..</td>
                  </tr>
                  <tr>
                    <td class="text-center">4</td>
                    <td class="text-center">2022004</td>
                    <td>Dona Abdillah Ula</td>
                    <td class="text-center">85</td>
                    <td class="text-center">80</td>
                    <td class="text-center">75</td>
                    <td class="text-center">89</td>
                    <td class="text-center">..</td>
                  </tr>
                  <tr>
                    <td class="text-center">5</td>
                    <td class="text-center">2022005</td>
                    <td>Evan Dimas Bima</td>
                    <td class="text-center">85</td>
                    <td class="text-center">75</td>
                    <td class="text-center">75</td>
                    <td class="text-center">80</td>
                    <td class="text-center">..</td>
                  </tr>
                </tbody>
               
              </table>
          </div>
        </div>
      </div>
    </section>
  </div>
  
