<app-header></app-header>
<app-sidebar-student></app-sidebar-student>
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="container">
          <div class="card" style="max-width: 100%">
            <div class="header" style="background-color: rgb(216, 0, 0)">
              <h2 class="text-center">SDN SUKAMAJU</h2>
            </div>
            <div class="card-body">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td class="fw-bold">ID</td>
                    <td>:</td>
                    <td>0034</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td class="fw-bold">Number</td>
                    <td>:</td>
                    <td>008892844278</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td class="fw-bold">User Name</td>
                    <td>:</td>
                    <td>Wiryatama</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td class="fw-bold">Name</td>
                    <td>:</td>
                    <td>Andara Wiryatama</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td class="fw-bold">Email</td>
                    <td>:</td>
                    <td>wiryatama14@gmail.com</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td class="fw-bold">Class</td>
                    <td>:</td>
                    <td>V</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
