<h2>Add New Schedule</h2>
<form [formGroup]="dialogFormSchedule">
  <div class="row">
    <div>
      <label for="title" class="col-form-label">Title Activity</label>
      <div class="col-sm-12">
        <input
          type="text"
          class="form-control"
          id="title"
          formControlName="title"
        />
        <span id="inputError" *ngIf="errorSameTitile">Title Has Been Already For This Class!</span>
        <span id="inputError" *ngIf="errorFill">The Form Is Required!</span>
      </div>
    </div>
    <div>
      <label for="start" class="col-form-label">Start Time Activity</label>
      <div class="col-sm-12">
        <input
          type="datetime-local"
          class="form-control"
          id="start"
          formControlName="start"
        />
      </div>
      <span id="inputError" *ngIf="errorFill">The Form Is Required!</span>
    </div>
    <div class="mt-2 mb-4">
      <label for="end" class="col-form-label">End Time Activity</label>
      <div class="col-sm-12">
        <input
          type="datetime-local"
          class="form-control"
          id="end"
          formControlName="end"
        />
      </div>
      <span id="inputError" *ngIf="errorFill">The Form Is Required!</span>
    </div>
    <div class="mb-3 row">
      <label for="classes" class="col-sm-4 col-form-label">Select Class</label>
      <div class="col-sm-8">
        <select class="form-select" id="classes" formControlName="classes">
          <option *ngFor="let item of class" [value]="item.className">
            {{ item.className }}
          </option>
        </select>
        <span id="inputError" *ngIf="errorSameTitile">Cannot Double Activity In Class!</span>
        <span id="inputError" *ngIf="errorFill">The Form Is Required!</span>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="classes" class="col-sm-4 col-form-label">Days of Week</label>
      <div class="col-sm-3">
        <select class="form-select" id="classes" formControlName="classes">
          <option *ngFor="let item of daysOfWeek" [value]="item.value">
            {{ item.repeat }}
          </option>
        </select>
      </div>
      <div class="col-sm-4 p-2 ms-2">
        <mat-checkbox formControlName="allDay"> All Day </mat-checkbox>
      </div>
    </div>
  </div>
  <div class="mt-2">
    <button class="btn btn-primary" (click)="onSave()">Save Schedule</button>
    <button class="btn btn-primary ms-2" (click)="onDialogClose()">Cancel</button>
  </div>
</form>
