<aside
  class="main-sidebar sidebar-dark-primary elevation-10"
  style="position: fixed !important"
>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="assets/dist/img/profil.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <h6 class="d-block">Eva Siti Nurjanah</h6>
        <p style="color: #fff">Headmaster</p>
      </div>
    </div>

    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >

        <li class="nav-header">DASHBOARD</li>
        <li class="nav-item">
          <a routerLink="/headmaster/dashboard" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>Home</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Master Data
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                routerLink="/headmaster/teacher"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fas fa-chalkboard-teacher nav-icon"></i>
                <p>Teachers data</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/headmaster/class" routerLinkActive="active" class="nav-link">
                <i class="fas fa-house-user nav-icon"></i>
                <p>Class data</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/headmaster/student"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fas fa-users nav-icon"></i>
                <p>Students data</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/headmaster/course"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fas fa-clipboard-list nav-icon"></i>
                <p>Courses data</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/headmaster/schedule"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fas fa-calendar-alt nav-icon"></i>
                <p>Schedule</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Grading
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                routerLink="/gradingCourse"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fas fa-pencil-alt nav-icon"></i>
                <p>Courses</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/headmaster/raport" class="nav-link">
            <i class="nav-icon far fa-sticky-note"></i>
            <p>
              Report
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                routerLink="/reportstudent"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fab fa-instalod nav-icon text-danger"></i>
                <p>student Report</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-header">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
